/* App.css */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(270deg, #ff7e5f, #feb47b, #86fde8, #acb6e5);
  background-size: 800% 800%;
  animation: gradientScroll 5s ease infinite;
}

@keyframes gradientScroll {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
